{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="input-group mb-3 m-2">
  <span class="input-group-text" id="basic-addon1">Amplitude</span>
  <input type="text" class="form-control" id="amplitude" disabled readonly>
  <span class="input-group-text" id="basic-addon1">mm</span>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="dropdown m-1">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dateChoice" data-bs-toggle="dropdown" aria-expanded="false">
          {{dates[-1]}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          {%for date in dates%}
          <li><a class="dropdown-item" onclick="changeDate(this)">{{date}}</a></li>
          {%endfor%}
        </ul>
      </div>
    
      <div class="container" style="max-width: 100vw; max-height: 100vh;">
          <div class="container" id="chartPosition"></div>
          <div class="container">
            <label for="timeSlider" class="form-label" id="timeLabel">heure : 00h 00m 00s</label>
            <input type="range" class="form-range" step="1" id="timeSlider">
          </div>
          <!-- <div class="container">
            <label for="points" class="form-label" id="pointsLabel">points : 0</label>
            <input type="range" class="form-range" step="1" id="pointsSlider">
          </div> -->
      </div>
    </div>
    <div class="col-md-6">
      <h2><span class="badge bg-secondary badge-sm">Live</span></h2>
      <div class="container" id="chartPositionDirect"></div>
    </div>
  </div>
  <div class="row">
    
  </div>
</div>
<script src="/static/js/mesures.js"></script>
{% endblock %}
